.container{
    margin-bottom: 100px;
    
}
.bg-img{
    background-image: url(bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
.back-img{
    background-image: url(bg-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #38071b 0%, #080004 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    
}
.row p{
    width: 300px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 20px 20px 20px 20px;
}
.end-text{
    color: yellowgreen;
}
.cat{
    border: 1px solid rgb(245, 204, 204);
    border-radius: 25px 0px;
}
footer{
    text-align: center;
}